.page-title-container {
    align-items: center;
    background-color: #e4f1f5;
    height: 280px;
}
.page-title-image {
    width: 80px;
    height: auto;
    flex-basis: 20%;
}
.page-title-text h1 {
    color: #0084a9;
    font-size: 2.3rem;
    font-weight: normal;
    margin: 0;
    font-family: inherit;
}