.carousl-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: inherit;
    position: absolute;
    /* color: grey; */
}

.carousel-heading {
    font-size: 2rem;
    margin-bottom: 40px;
    letter-spacing: 0.048px;
    word-break: break-word;
    font-family: inherit;
    font-weight: normal;
}
.carousel-content{
    display: flex;
    justify-content: space-around;
    gap: 10px;
    height: 800px;
}
.carousel-item {
    display: flex;
    flex-direction: column;
    width: 48%;
    color: grey;
    align-items:flex-start;
    position: relative;
    overflow: hidden;
}
/* .carousel-image-container{
    width: 35%;
    height: 250px;
    overflow: hidden;
    position: relative;
} */
.carousel-image {
    width: 100%;
    transition: transform 0.5s; 
    transform-origin: center;
    object-fit: cover;
    margin-bottom: 0;
    
}

.carousel-image:hover {
    transform: scale(1.05);
}

/* .carousel-image::after {
    content: "";
    display: table;
    clear: both;
} */


.carousel-text-heading  {
    font-weight: normal;
    font-size: 1.2rem;
    margin-top: 10px;
    font-family: inherit;
    color: black;

}
.carousel-text-description {
    font-size: 1rem;
    margin-top: 5px;
    font-family: inherit;
    color: grey;

}

.carousel-learn-more{
    text-decoration: none;
    position: relative;
    padding-bottom: 3px;
    color: #3b63fb;
    font-size: 16px;
    display:inline-block;

}
/* .craousel-learn-more .arrow-symbol {
    margin-left: 5px;
    font-size: 1rem;
    
} */

.carousel-learn-more::after {
    /* content: "\2192"; */
    position: absolute;
    right: -15px;
    bottom: 0;
    font-size: 16px;
    opacity: 1;
    transition: right 0.3s ease;

}
.carousel-learn-more::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: -2px;
    left: 0;
    background-color: #3b63fb;
    transform: scaleX(1);
    transform-origin: bottom right;
    transition: transform 0.3s ease;
}
.carousel-learn-more:hover::before {
    transform: scaleX(0);
    transform-origin: bottom right;
}

.carousel-learn-more:hover::after {
    right: -5px;
}

.carousel-learn-more:hover {
    text-decoration: none;
}
