.title-description-container {
    padding: 20px; /* Padding for the container */
}

.title-description-container h2 {
    color: #0084a9; /* Set color for h3 */
    font-size: 24px; /* Increase font size for h3 */
    padding: 10px 0; /* Apply padding to h3 */
}

.title-description-container p {
    font-size: 16px; /* Set font size for p */
    line-height: 24px; /* Set line height for p */
    color: #585857; /* Set color for p */
    padding: 10px 0; /* Apply padding to p */
}

.horizontal-vertical-wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.horizontal-vertical {
    background-color: #E3F1F4;
    border-top: 2px solid #007DA4;
}

.card-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0;
}

.card {
    display: flex;
    flex: 0 1 calc(50% - 20px);
    margin: 10px;
    border: none;
    background-color: rgb(255 255 255 / 0.5);
    overflow: hidden;
    transition: background-color 0.3s ease;
}

.card:hover {
    background-color: #fff;
}

.card-image {
    background-color: #027DA4;
    flex: 0 0 200px;
    max-width: 300px;
    transition: background-color 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-image img {
    width: 100%;
    height: auto;
    display: block;
}

.card-body {
    padding: 20px;
    flex: 1;
    font-size: 0.9em;
    line-height: 1.4;
    transition: color 0.3s ease;
}

.card-body h3 {
    overflow-wrap: anywhere;
    color: #5F6062;
    font: Helvetica, Arial, sans-serif;
}

.card-body p {
    padding: 10px 0 0;
}

.card:hover .cta,
.card:hover .arrow {
    color: #d8862a;
}

.card:hover .card-image {
    background-color: #005f75;
}

.card:hover .card-body {
    color: #333;
}

.card-body a {
    color: #007DA4;
    text-decoration: none;
}

.arrow {
    margin-left: 220px;
    color: #3B63FB;
    transition: color 0.3s ease;
}

.arrow-link {
    position: relative;
    padding-right: 230px; /* Space before the arrow */
}

.arrow-link::after {
    content: '>'; /* Add the ">" symbol */
    color: #007DA4; /* Same color as your original arrow */
    position: absolute;
    right: 0;
    transition: color 0.3s ease;
}

.card:hover .arrow-link::after {
    color: #d8862a; /* Change color on hover */
}

main > .section > div {
    padding: 30px 24px;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .card {
        flex: 0 1 100%; /* Full width */
        margin: 10px 0; /* Adjust margins for mobile */
    }

    .card-body {
        padding: 15px; /* Less padding on mobile */
        font-size: 0.8em; /* Slightly smaller text */
    }

    .arrow {
        margin-left: 0; /* Remove left margin for mobile */
        text-align: center; /* Center the arrow for better alignment */
    }

    .arrow-link {
        padding-right: 20px; /* Adjust padding for mobile */
    }
}
