.breadcrumb-list {
  display: flex;
  overflow-y: hidden;
  overflow-x: auto;
  flex: 1;
  font-size: 0.875rem; /* Equivalent to text-sm */
}

.home-logo {
  height: 100%;
  width: 100%;
  display: flex;
}

.home-link {
  color: #a0aec0; /* Equivalent to text-grey-500 */
  transition: color 0.3s;
}

.home-link:hover {
  color: #4a5568; /* Equivalent to hover:text-grey-900 */
}

.breadcrumb-item {
  display: flex;
  align-items: center;
  margin-top: 1rem; /* Equivalent to mt-4 */
}

.separator {
  color: #a0aec0; /* Equivalent to text-grey-500 */
  padding-right: 2rem; /* Equivalent to pr-8 */
}

.breadcrumb-link {
  color: #a0aec0; /* Equivalent to text-grey-500 */
  transition: color 0.3s;
  white-space: nowrap; /* Equivalent to whitespace-nowrap */
  letter-spacing: 0.05em; /* Equivalent to tracking-wide */
}

.breadcrumb-link:hover {
  color: #4a5568; /* Equivalent to hover:text-grey-900 */
}

.breadcrumb-link.last {
  margin-left: 2rem; /* Equivalent to ml-8 */
}

.breadcrumb-nav {
  padding-top: 4rem; /* Equivalent to pt-16 */
  width: 100vw; /* Equivalent to w-screen */
  padding-bottom: 8rem; /* Equivalent to pb-32 */
}

.breadcrumb-container {
  max-width: 100%; /* Equivalent to container styles */
  padding: 0; /* Equivalent to px-0 */
  margin-left: 0; /* Equivalent to ml-0 */
}

.icon-chevron {
  display: inline-block;
  width: 0; /* Width and height are set to 0 to create the triangle */
  height: 0;
  border-left: 4px solid transparent; /* Left border */
  border-right: 4px solid transparent; /* Right border */
  border-top: 6px solid #a0aec0; /* Top border as the chevron color */
  margin: 0 0.5rem; /* Space around the icon */
  transform: translateY(-2px); /* Adjusts the position */
}
