.hero-banner a:any-link {
    color: currentcolor;
    text-decoration: none;
}
.hero-banner picture img{
    height: 100%;
    width: 100%;
}


.contact-support-wrapper {
    background-color: rgb(44, 44, 44);    
}

.page-title-container-santosh h1 {
    font-family: Geogrotesque, Helvetica, Arial;
    font-size: 24px;
    color: white;
}

.page-title-container-santosh h5 {
    font-family: geogrotesque, Helvetica, Arial;;
    font-size: 24px;
    color: rgb(161, 161, 161);
}

