body, html{
    padding: 0;
    margin:0;
}

.page-subnav-container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    padding: 10px 20px;
    background-color: #ffff;
    border-bottom: 0.5px solid grey;
    text-align: left;
    width: 100%;
    overflow-x: auto;
}

.page-subnav-container ul{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.page-subnav-container ul li{
    margin: 0px;
    padding: 0px;
}

.page-subnav-container ul li a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 16px;
    padding: 8px 12px ;
    padding-left: 0px;
    transition: all 0.3s ease;
    left:0;
}

.page-subnav-container ul li a:hover{
    color: #0056b3;
    text-decoration: underline;
}

@media(max-width: 768px){
    .page-subnav-container ul{
        flex-wrap: wrap;
        gap: 8px;
    }
    .page-subnav-container ul li a {
        font-size: 14px;
        padding : 6px 10px;
    }
}





    