.header-bar {
    max-width: 100%;
    background-color: rgb(20 20 20);
    padding: 0 0 0 119px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Geogrotesque, sans-serif;
    color: grey;
    box-sizing: border-box;
}
.logo img {
    height: 32px;
    width: auto;
    margin-left: 20px;
}
.header-bar div {
    display: flex;
    gap: 30px;
}
div a {
    display: flex;
    align-items: center;
    text-decoration: none !important;
    transition: color 0.3s;
    font-size: 16px;
    color: rgb(161 161 161 / var(--tw-text-opacity)) !important;
}
div a:hover {
    color: white !important;
    transition: color 0.3s ease;
}
.navLinks-bar {
    display: flex;
    gap: 30px;
    margin-left: auto;
    padding: 0 0 0 482px;
}
.navLinks-bar img {
    margin-right: 5px;
    height: 20px;
    width: 20px;
    background-color: white;
    border-radius: 50%;
    padding: 1px;
    box-sizing: border-box;
}
.last-item {
    background-color: #1e40af;
    color: white !important;
    padding: 18px 33px;
    transition: background-color 0.3s;
    font-size: 16px;
    margin-left: auto;
}

.last-item:hover {
    background-color: #0056b3;
}
@media (max-width: 1024px) {
    .header-bar {
        padding: 0;
        flex-direction: row;
        justify-content: space-between;
    }

    .navLinks-bar {
        padding-left: 117px;
        gap: 20px;
        margin-left: auto;
        margin-right: 0;
    }

    .logo img {
        height: 28px;
    }

    div a {
        font-size: 14px;
    }

    .last-item {
        padding: 15px 25px;
    }
}
@media (max-width: 768px) {
    .header-bar {
        display: none;
}}